.resume {
    background-color: #44C7FF;
    
    position: relative;
    padding-bottom: 200px;
    
}


.resume_img {

    width: 1033px;
    height: 474px;
}

.resume_title {
    position: absolute;
    width: 828px;
height: 176px;
font-family: 'Nanum Gothic', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 160px;
line-height: 110%;
letter-spacing: -5px;
color: #831515;
top: 500px;
left: 450px;
}