<header class="header">  
<div class="container">

  <nav class="all_nav">
    <a href="">multiTECH</a>
    <ul class="nav_list">
      <li class="nav_list_item"><a class="nav_list_link" href="">Новини</a></li>
    <li class="nav_list_item"><a class="nav_list_link" href="">Послуги</a></li>
    <li class="nav_list_item"><a class="nav_list_link" href="">Портфоліо</a></li>
    <li class="nav_list_item"><a class="nav_list_link" href="">Лідогенерація</a></li>
    <li class="nav_list_item"><a class="nav_list_link" href="">Контакти</a></li></ul>
    <a href="">Обговорити проект</a>
  </nav>
</div>



</header>